<%= render partial: "shared/header" %>
<div class="container">
  <div class="col-md-8 offset-2">
    <%= render partial: "form" %>
    <div id="scene">
      <%= render partial: "scene", locals: {scene: @scene} %>
    </div>
  </div>
</div>
