<div class="about-container">
  <div class="card text-white offset-2" id="about">
    <div class="card-body">
      <p>For a while now I've been wanting to gain a better understanding of how to deploy and host an app using various AWS utilities.</p>
      <p>So, I dusted off my old meeseeks box. Out pops Mr. Meeseeks.</p>
      <p>"Mr. Meeseeks, I want to learn how to deploy an application on AWS"</p>
      <p>Caaaaan dooo!!</p>
      <p>And this app was born!</p>
      <p>To learn what I learned about AWS, check out my blog post here.</p>
      <p>Otherwise, enjoy this Rick + Morty dialogue generator––<%= link_to "get Rickety-Rickety-Wrecked!", root_path %></p>
      <p style="font-size: 16px">Credits: dialogue courtesy of this <a href="https://en.wikiquote.org/wiki/Rick_and_Morty">Wikiquote</a>. Meeseeks illustration found <a href="https://orig00.deviantart.net/ae4c/f/2017/258/0/d/mr_meeseeks__gift_artwork__by_michaeltanzer1991-dbnhx2m.png">here</a></p>
    </div>
  </div>
</div>
